<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head',{ title :'Login'}) %> 
    
<body class="login">
    <header class="login__header">
        <div class="btn-item">
            <a href="/" class="btn-ghost round volver" id="volver"> Volver </a>
            <button href="#" class="btn-ghost languajes round"><i class="fa-solid fa-globe"></i> English </button>
        </div>
        <a href="/"><div class="login__logo"></div></a>
        <br>
        <div class= "login__logo-letra"></div>
    </header>
    <main>
        <section>
            <h1>Ingresá</h1>
                <hr>
            <form action="" method="POST">
                <article>
                    <div class="login__form-box">
                        <label for="email">E-Mail :</label>
                        <input class="login__form-input form-control <%= locals.errors && errors.email ? errors.email.msg : null %>" type="email" name ="email" id="email" value="" >
                        <span class="register__text-error" id="errorEmail"><%= locals.errors && errors.email ? errors.email.msg : null  %></span>
                    </div>
                    <div class="login__form-box">
                        <label for="password">Contraseña : </label>
                        <input class="login__form-input form-control <%= locals.errors && errors.password ? errors.password.msg : null %>" type="password" name ="password" id="password" value="" >
                        <span class="register__text-error" id="errorPassword"><%= locals.errors && errors.password ? errors.password.msg : null  %></span>
                    </div>
                    <div class="login__form-box-remember">
                        <input class="" type="checkbox" name="remember" id="remember">
                        <label for="remember" class="remember">Recuerdame</label>
                    </div>
                    <a href="link_de_recuperacion"><b>"He olvidado mi Contraseña"</b></a>
                    <div class="social-media">
                        <a href="https://accounts.google.com/ServiceLogin/signinchooser?hl=es&passive=true&continue=https%3A%2F%2Fwww.google.com%2F%3Fhl%3Des&ec=GAZAmgQ&flowName=GlifWebSignIn&flowEntry=ServiceLogin" class="fa-brands.fa-google"><img src="/images/iconos/G-Google.jpg" height="25px" width="25px"></img></a>
                        <a href="https://www.facebook.com" class="fa-brands.fa-facebook"><img src="/images/iconos/F-Facebook.png" height="25px" width="25px"></a>
                        <a href="https://appleid.apple.com/#!&page=signin" class="fa-brands.fa-apple"><img src="/images/iconos/A-Apple.png" height="25px" width="25px"></a>
                    </div>
                    <div class="button__login">
                        <button type="submit" class="btn-ghost btn-login"> Ingresar </button>
                    </div>
                    <div class="new-here">
                        <a href="/users/register">Nuevo Aquí? <b>Regístrate!</b></a>
                    </div>
                </article>
            </form>
        </section>
    </main>
    <script src="/javascript/login.js"></script>

</body>
</html>