<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head', { title : product.name}) %> 

<body class="product-detail">
    <%- include('./partials/header') %> 

    <main class="product-detail__main">
        <!--  BOTON VOLVER -->
      <div class="container-button-product-detail">
       <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
   </div>
    
       <!--       SECCION PRODUCTO -->
       <section class="container-product-detail-portada">
           <!-- IMAGEN PRODUCTO -->
           <div class="product-detail-product ">
               <img class="product-detail-portada shadow_detail " src="/images/portadas/<%= product.image %>" alt="">
           </div>
           <!-- PRECIO ANTERIOR -->
           <div class="cart_precios">
           <span class="precio_anterior"> $5.699</span>
          <!--  PRECIO PRODUCTO -->
           <span class="precio"> $<%= toThousand(product.price) %></span>
           </div>
        <!--    AÑADIR PRODUCTO -->
           <div class="añadir">
               <a class="product-detail-añadir" href="/products/cart">AÑADIR <i class="fa-solid fa-cart-arrow-down"></i></a>
           </div>
       </section>

       
        <!--  BOTON editar PRODUCTO-->
        <% if (locals.userLogin?.rol === "admin") { %> <!-- solo si el usuario logueado es administrador , permitir editar o eliminar producto. -->
            <!--  //navBar - administrador, añadir libro -->
            <div class="botones_admi">
                <button class="admi_adherir admi_submit"><a  href="/products/edit/<%= product.id %>" >Editar<i class="fa-solid fa-pen-to-square"></i></a></button>
        <!--  BOTON borrar PRODUCTO-->
         <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                <button type="submit" class="admi_adherir admi_delete">Eliminar <i class="fa-solid fa-trash-can trash-delete"></i></button>
               </div> 
         </form>
       <% } %>
      
           
          
    

      <!--  DESCRIPCION PRODUCTO -->
       <section class="container-product-detail-descripcion">
           <article class="product-detail-description">
               <h1><%= product.name %></h1>
               <h3>SINOPSIS</h3>
               <p><%= product.description %></p>
                  <!--  <a class="leer_mas" href="#parrafo-ver-mas"> ...leer más</a>
               <p id="parrafo-ver-mas" class="parrafo-ver-mas"> La edición publicada en 2012 para conmemorar el décimo aniversario de la primera edición original de
                   El psicoanalista, incluye un epílogo que John Katzenbach ha escrito especialmente para los lectores
                   en lengua española.</p> -->
           </article>
       </section>
       <!-- BOTON SCROLL UP -->
       <div class="home__main__up">
           <a href="/"><i class="fa-solid fa-circle-chevron-up"></i></a>
       </div>

   </main>
   <%- include('./partials/footer') %> 
</body>

</html>