<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head',{ title :'Detalle de Producto'} )%> 

<body class="product-detail">
    <%- include('./partials/header') %> 

    <main class="product-detail__main">
        <!--  BOTON VOLVER -->
      <div class="container-button-product-detail">
       <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
   </div>
     <!--  BOTON EDITAR PRODUCTO-->
     <div class="añadir">
        <a class="product-detail-añadir admi_editar" href="/products/edit">EDITAR <i class="fa-solid fa-pen-to-square"></i></a>
    </div>
       <!--       SECCION PRODUCTO -->
       <section class="container-product-detail-portada">
           <!-- IMAGEN PRODUCTO -->
           <div class="product-detail-product ">
               <img class="product-detail-portada shadow_detail " src="/images/portadas/<%= product.image %>" alt="">
           </div>
           <!-- PRECIO ANTERIOR -->
           <div class="cart_precios">
           <span class="precio_anterior"> $5.699</span>
          <!--  PRECIO PRODUCTO -->
           <span class="precio"> $<%= toThousand(product.price) %></span>
           </div>
        <!--    AÑADIR PRODUCTO -->
           <div class="añadir">
               <a class="product-detail-añadir" href="/product-cart">AÑADIR <i class="fa-solid fa-cart-arrow-down"></i></a>
           </div>
       </section>
       
    

      <!--  DESCRIPCION PRODUCTO -->
       <section class="container-product-detail-descripcion">
           <article class="product-detail-description">
               <h1><%= product.name %></h1>
               <h3>SINOPSIS</h3>
               <p><%= product.description %></p>
                  <!--  <a class="leer_mas" href="#parrafo-ver-mas"> ...leer más</a>
               <p id="parrafo-ver-mas" class="parrafo-ver-mas"> La edición publicada en 2012 para conmemorar el décimo aniversario de la primera edición original de
                   El psicoanalista, incluye un epílogo que John Katzenbach ha escrito especialmente para los lectores
                   en lengua española.</p> -->
           </article>
       </section>
       <!-- BOTON SCROLL UP -->
       <div class="home__main__up">
           <a href="/"><i class="fa-solid fa-circle-chevron-up"></i></a>
       </div>

   </main>
   <%- include('./partials/footer') %> 
</body>

</html>