<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head', { title : product.name}) %> 

<body class="product-detail">
    <%- include('./partials/header') %> 

    <!--  CARRUSEL-->
    
   <%- include('./partials/carousel') %> 

   <main class="product-detail__main">
    <!-- GO BACK BUTTON -->
    <div class="container-button-product-detail">
        <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
    </div>

    <section class="product-detail" id="product-detail">
      <!-- TITLE  -->
      <h1 class="heading"><span>Home || <%=product.name %></span></h1>

      <div class="swiper product-slider">
        <div class="swiper-wrapper">
          <!-- STARS SECTION -->
          
            <!--  IMAGE SECTION -->
            <div class="image">
              <div class="swiper-slide box">
                <div class="stars">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half-alt"></i>
                </div>
              <a href=""><img src="/images/portadas/<%= product.image %>" alt="" /></a>
              <img src="/images/otrasImagenes/stand.png" class="product-stand" alt="">
            </div>
            
            <div class="content">
              <h3><%= product.name %></h3>
              <!-- PRICE SECTION -->
              <div class="price"> $<%= toThousand(product.price) %> <span>$20.99</span></div>
              <button href="#" class="btn shop">comprar<span><i class="fa-solid fa-cart-shopping"></i></span></i></button>
            </div>
          </div>
        </div>
      </div>
      <!--  DETAIL'S TABLE-->
      <table class="tabla-detalles">
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">Titulo</th>
            <td><%= product.name %></td>
          </tr>
          <tr>
            <th scope="row">Autor</th>
            <td><%= product.autor %></td>
          </tr>

          <tr>
            <th scope="row">Genero</th>
            <td><%= product.genre %></td>
          </tr>

          <tr>
            <th scope="row">Editorial</th>
            <td><%= product.publisher %></td>
          </tr>
          <tr>
            <th scope="row">Language</th>
            <td><%= product.language%></td>
          </tr>
        </tbody>
      </table>

      <!--  SINOPSIS SECTION -->
      <div class="descripcion-detail">
        <h3>sinopsis</h3>
        <article class="descripcion">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Praesentium reprehenderit quidem, autem aut, quis aliquid pariatur
            modi aspernatur nesciunt quas hic eligendi omnis voluptas numquam,
            doloremque sunt magni eaque suscipit. <br />Lorem, ipsum dolor sit
            amet consectetur adipisicing elit. Veniam quasi enim fugit vel rem
            debitis minima unde placeat a? Eos atque tempore quod facere
            pariatur beatae repellendus in excepturi praesentium? <br />Lorem
            ipsum dolor sit amet consectetur, adipisicing elit. Excepturi,
            iusto ipsa quia magni eaque, totam saepe animi mollitia reiciendis
            facilis ad in! Sed eligendi libero placeat dolorem, ipsa nostrum
            dolore?
          </p>
        </article>
      </div>
    </section>
        <!-- BOTON SCROLL UP -->
        <div class="home__main__up">
            <a href="#"><i class="fa-solid fa-circle-chevron-up"></i></a>
        </div>
  </main>
    <%- include('./partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="/js/carousel.js"></script>
</body>

</html>