<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head' ,{ title : 'Todos los Libros'}) %> 

<body class="home">
    <%- include('./partials/header') %> 

    <!--  CARRUSEL-->
    
 <%- include('./partials/carousel') %> 
    
    <!--  CUERPO  -->
    <main class="home">
            <!-- SECCION LOS MAS VENDIDOS DE LA SEMANA-->
        <h2>Todos Nuestros Libros</h2>
        <h2><%= typeof genre !== "undefined" ? genre.name : null %> </h2>
        <!--    PRODUCTO -->
        <section class="home__box_products">
            <% products.forEach(({id,name,autor,image}) => { %>

                <article class="home__product">
                    <div class="home__producto-box-image">
                        <a href="/products/detail/<%= id %>">
                            <div class="home__product-container-img">
                                <img class="home__product_image" src="/images/portadas/<%= image %>" alt="libro">
                            </div>
                        </a>   
                    </div>
                    <div class="home_main_container_span">
                        
                        <span class="titulo"><%= name %></span>
                        <span class="autor"><%= autor.name %></span>
                    </div>
                </article>
                
                <% }) %>
        </section>
    
            <div class="home__main__up">
                <a href="#"><i class="fa-solid fa-circle-chevron-up"></i></a>
            </div>
    </main>
    
    <%- include('./partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="/javascript/carousel.js"></script>
    <script src="/javascript/darkmode.js"></script>
</body>

</html>