<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title:"Creacion de Producto"}) %>
    </head>

    <body class="administrador">
        <%- include('./partials/header') %>
        <script src="/javascript/productEdit.js"></script>  <!-- Utilizamos Validaciones Front-End -->
        <script src="/javascript/imagePreview.js"></script> <!-- Validacion Front para Formato de Imagen Valido-->

            <!--  BOTON VOLVER -->
            <div class="container-button-product-detail admini">
                <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
            </div>

            <main class="admi_main">

                <!--   Empieza el formulario -->
                <form action="/products/update/<%= product.id %>?_method=PUT" class="form_admi" method="POST" enctype="multipart/form-data" id="productEdit">
                    <!--  Titulos -->
                    <h2 class="titulo_admi"> Formulario del Administrador</h2>
                    <h3 class="titulo_dos_admi">Edición de Libros</h3>

                    <!--  seccion contenedora -->
                    <article>
                        <!-- Titulo del libro-->
                        <div class="admi__form-box">
                            <input class="admi_form-input" type="text" placeholder="Título del libro" name="name" id="name" value="<%= (locals.old && old.name) ? old.name : product.name %>">
                            <span class="admi__text-error" id="errorName"><%= (locals.errors && errors.name) ? errors.name.msg : ""  %></span>
                        </div>

                        <!-- Precio del libro -->
                        <div class="admi__form-box">
                            <input class="admi_form-input" type="number" placeholder="$$ Precio del Libro" name="price" id="price" value="<%= (locals.old && old.price) ? old.price : product.price %>">
                            <span class="admi__text-error" id="errorPrice"><%= (locals.errors && errors.price) ? errors.price.msg : ""  %></span>
                        </div>

                        <!-- Autor del libro-->
                        <div class="admi__form-box">
                            <select class="admi_select dropdown-select" name="autorId" id="autorId">
                                <% autors.forEach(autor => { %>
                                    <option value="<%= autor.id %>" <%= autor.id === product.autorId && 'selected' %>><%= autor.name %></option>
                                <% }) %>
                            </select>
                            <span class="admi__text-error" id="errorAutorId"><%= (locals.errors && errors.autorId) ? errors.autorId.msg : null  %></span>
                        </div>

                        <!--  Editorial del libro -->
                        <div class="admi__form-box">
                            <select class="admi_select dropdown-select" name="publisherId" id="publisherId">
                                <% publishers.forEach(publisher => { %>
                                    <option value="<%= publisher.id %>" <%= publisher.id === product.publisherId && 'selected' %> ><%= publisher.name %></option>
                                <% }) %>
                            </select>
                            <span class="admi__text-error" id="errorPublisherId"><%= (locals.errors && errors.publisherId) ? errors.publisherId.msg : null  %></span>
                        </div>

                        <!-- -Genero del libro-->
                        <div class="admi__form-box">
                            <select class="admi_select dropdown-select" name="genreId" id="genreId">
                                <% genres.forEach(genre => { %>
                                    <option value="<%= genre.id %>" <%= genre.id === product.genreId && 'selected' %>><%= genre.name %></option>
                                <% }) %>
                            </select>
                            <span class="admi__text-error" id="errorGenreId"><%= (locals.errors && errors.genreId) ? errors.genreId.msg : null  %></span>
                        </div>

                        <!--  Idioma de Edicion -->
                        <div class="admi__form-box">
                            <select class="admi_select dropdown-select" name="languageId" id="languageId">
                                <option hidden selected value="">Seleccione Idioma de Edición</option>
                                <% languages.forEach(language => { %>
                                    <option value="<%= language.id %>" <%= language.id === product.languageId && 'selected' %>><%= language.name %></option>
                                <% }) %>
                            </select>
                            <span class="admi__text-error" id="errorLanguageId"><%= (locals.errors && errors.languageId) ? errors.languageId.msg : null  %></span>
                        </div>

                        <!-- Categoria de Edicion -->
                        <div class="admi__form-box">
                            <select class="admi_select dropdown-select" name="categoryId" id="categoryId">
                              
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>" <%= category.id === product.categoryId && 'selected' %>><%= category.name %></option>
                                <% }) %>
                            </select>
                            <span class="admi__text-error" id="errorCategoryId"><%= (locals.errors && errors.categoryId) ? errors.categoryId.msg : null  %></span>
                        </div>
                        <!-- Portada del libro-->
                        <div class="admi__form-box">
                            <label class="admi_portada" for="portada">Adjuntar Portada del Libro</label>
                            <input hidden class="admi_file" type="file" id="portada" name="image" accept="image/*">
                            <span class="admi__text-error" id="errorPortada"><%= (locals.errors && errors.portada) ? errors.portada.msg : null  %></span>
                        </div>
                         <!-- Descripcion del libro-->
                    <div class="admi__form-box">
                        <textarea class="admi_form-texarea" name="description" id="description" 
                            placeholder="Agregue la sinopsis"><%= product.description %></textarea>
                        <span class="admi__text-error" id="errorDescription"><%= (locals.errors && errors.description) ? errors.description.msg : null  %></span>
                    </div>

                    <div class="admi__form-box">
                        <img class="form-img-preview" id="img-preview" src="/images/portadas/<%= product.image %>" alt="">
                    </div>
                        <span class="admi__text-error" id="errorForm"></span>
                    </article>

                  
                    <!--  envio y reset -->
                    <div class="botones_admi">
                        <button onclick="window.location.href='/products'" class="admi_adherir admi_delete">Cancelar</button>
                        <button type="submit" class="admi_adherir admi_submit">Guardar</button>
                    </div>
                </form>

            </main>
            <%- include('./partials/footer') %>

            <script>    /* este Script nos permite visualizar la imagen que se adjunte para editar la portada */
                document.getElementById('portada').addEventListener('change', (e) => {
                    let reader = new FileReader();
                    reader.readAsDataURL(e.target.files[0])
                    reader.onload = () => {
                        document.getElementById('img-preview').src = reader.result
                    }
                });
            </script>
            <script src="/javascript/darkmode.js"></script>

    </body>

</html>