<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { title : 'Editando: ' + product.name}) %>
  
<body class="administrador">
    <%- include('./partials/header')%> 
    <!--  BOTON VOLVER -->
    <div class="container-button-product-detail admini">
        <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
    </div>
        <main class="admi_main">
   <!--   Empieza el formulario -->
            <form class="form_admi" action="/products/update/<%= product.id %>?_method=PUT" method="POST" enctype="multipart/form-data" >
                <!--   titulos -->
                    <h2 class="titulo_dos_admi">Edición del Libro: <%= product.name %> </h2>
                    <!--  seccion contenedora -->
                    <article>

                     <!-- Titulo del libro-->
                        <div  class="admi__form-box">
                            <label class="admi_label_edit"  for="name">Editar Titulo</label>
                            <input class="admi_form-input" type="text" name="name" id="name" value="<%= product.name %>">
                        </div>

                    <!-- Autor del libro-->
                        <div class="admi_form-box">
                            <label class="admi_label_edit"  for="autor">Editar Autor</label>
                            <input class="admi_form-input" type="text" name ="autor" id="autor" value="<%= product.autor %>">
                        </div>

                    <!-- Precio del libro -->
                        <div  class="admi__form-box">
                            <label class="admi_label_edit"  for="price">Editar Precio</label>
                            <input type="number" class="admi_form-input" name="price" id="price" value="<%= product.price %>">
                        </div>

                     <!-- Descripcion del libro-->
                        <div  class="admi__form-box">
                            <label class="admi_label_edit"  for="description">Editar Sinopsis</label>
                            <textarea class="admi_form-input" name="description" id="description" cols="5" rows="5" ><%= product.description %> </textarea>
                        </div>

                    <!-- Categoria del libro-->
                        <div  class="admi__form-box">
                            <label class="admi_label_edit"  for="genre">Editar Genero</label>
                            <select  class="admi_select dropdown-select"  name="genre" id="genre">
                                <option value="Autoayuda" <%= product.genre === "Autoayuda" && 'selected' %>>Autoayuda</option>
                                <option value="Autobiografia" <%= product.genre === "Autobiografia" && 'selected' %>>Autobiografía</option>
                                <option value="Clasicos" <%= product.genre === "Clasicos" && 'selected' %>>Clásicos</option>
                                <option value="Ciencia Ficcion" <%= product.genre === "Ciencia Ficcion" && 'selected' %>>Ciencia Ficción</option>
                                <option value="Comics Y Manga" <%= product.genre === "Comincs y Manga" && 'selected' %>>Cómics y Mangas</option>
                                <option value="Narrativa" <%= product.genre === "Narrativa" && 'selected' %>>Narrativa</option>
                                <option value="Narrativa Romantica" <%= product.genre === "Narrativa Romantica" && 'selected' %>>Narrativa Romantica</option>
                                <option value="Management" <%= product.genre === "Management" && 'selected' %>>Management</option>
                                <option value="Teatro" <%= product.genre === "Teatro" && 'selected' %>>Obras de Teatro</option>
                                <option value="Poesia" <%= product.genre === "Poesia" && 'selected' %>>Poesía</option>
                                <option value="Policiales" <%= product.genre === "Policiales" && 'selected' %>>Policiales</option>
                                <option value="Terror" <%= product.genre === "Terror" && 'selected' %>>Terror</option>
                            </select>
                        </div>

                    <!--  Idioma de Edicion -->
                        <div class="admi__form-box">
                            <label class="admi_label_edit"  for="language">Editar Idioma de Edición</label>
                            <select class="admi_select dropdown-select" name="language" id="language" >
                                <option value="" hidden selected>Seleccione Idioma de Edición</option>
                                <option value="ingles" <%= product.language === "ingles" && 'selected' %>>Ingles</option>
                                <option value="español" <%= product.language === "español" && 'selected' %>>Español</option>
                            </select>
                        </div>

                     <!-- Portada del libro-->
                        <div class="admi__form-box">
                            <label class="admi_label_edit" for="image">Editar Portada del Libro</label>
                            <input class="admi_file"  type="file" id="image" name="image" accept="image/*"/>
                        </div>
                    <!--  categoria de Edicion -->
                        <div class="admi__form-box">
                            <label class="admi_label_edit"  for="category">Editar Categoria de Edición</label>
                            <select class="admi_select dropdown-select" name="category" id="category" >
                                <option value="in-sale" <%= product.category === "in-sale" && 'selected' %> >In-sale</option>
                                <option value="relevant" <%= product.category === "relevant" && 'selected' %>>Relevante</option>
                            </select>
                         </div>

                    </article>
                    <!--  envio y reset -->
                    <div class="botones_admi" >
                        <button type="reset" class="admi_adherir admi_delete">Limpiar</button>
                        <button type="submit" class="admi_adherir admi_submit">Guardar</button>
                    </div>
                   
            </form>
        </main>
    <%- include('./partials/footer')%> 
</body>
</html>