<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{ title :'Registro'}) %> 
<body class="register_body">

    <header class="register_header">
        <div class="header__volver-ingles">

            <a href="/" class="volver round"> Volver </a> 

            <button class="volver ingles round"><i class="fa-solid fa-globe"></i> English </button> 

        </div>
        <div class="header__logo">

            <a href="/"><div class="login__logo"></div></a>
        <!-- <a href="/"><img src="/images/logo-proyect.png" width="100%" alt=""></a> -->
        
        </div>
        <br>
        <div class="header__logo2">
        <!-- <a href="/"><img src="/images/logo-proyect2.png" alt=""></a> -->
        </div>
    </header>

    <main>

        <section>
            <h1>Registrate</h1>
            <hr>
                <!--  empieza el fomulario -->
            <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
                <article class="registro">
                    <!-- seccion nombre -->
                    <div class="register__form-box">
                        <label class="register__label" for="name">Nombre: </label>
                        <input class="register__form-input form-control <%= locals.errors && errors.name ? errors.name.msg : null %> " type="text" id="name" name="name" value="<%= locals.old && old.name ? old.name : null %>">
                        <span class="register__text-error" id="nombreError"><%= locals.errors && errors.name ? errors.name.msg : null  %></span>
                    </div>
                    <!--  seccion apellido -->
                    <div class="register__form-box">
                        <label class="register__label" for="surname">Apellido: </label>
                        <input class="register__form-input form-control <%= locals.errors && errors.surname ? errors.surname.msg : null %> " type="text" id="surname" name="surname" value="<%= locals.old && old.surname ? old.surname : null %>">
                        <span class="register__text-error" id="apellidoError"><%= locals.errors && errors.surname ? errors.surname.msg : null  %></span>
                    </div>
                    <!--  seccion email -->
                    <div class="register__form-box">
                        <label class="register__label" for="email">Email: </label>
                        <input class="register__form-input form-control <%= locals.errors && errors.email ? errors.email.msg : null %> " type="email" id="email" name="email" value="<%= locals.old && old.email ? old.email : null %>">
                        <span class="register__text-error" id="emailError"><%= locals.errors && errors.email ? errors.email.msg : null  %></span>
                    </div>
                    <!--  seccion contraseña -->
                    <div class="register__form-box">
                        <label class="register__label" for="password">Contraseña: </label>
                        <input class="register__form-input form-control <%= locals.errors && errors.password ? errors.password.msg : null %> " type="password" id="password" name="password">
                        <span class="register__text-error" id="passwordError"><%= locals.errors && errors.password ? errors.password.msg : null  %></span>
                    </div>
                    <!--  seccion confirmar contraseña -->
                    <div class="register__form-box">
                        <label class="register__label" for="password2">Confirmar Contraseña: </label>
                        <input class="register__form-input form-control <%= locals.errors && errors.password2 ? errors.name.msg : null %> " type="password" id="password2" name="password2">
                        <span class="register__text-error" id="password2Error"><%= locals.errors && errors.password2 ? errors.password2.msg : null  %></span>
                    </div>
                    <!-- seccion imagen de perfil -->
                    <div class="register__form-box">
                        <label class="admi_portada" for="avatar">Adjunte imagen de Perfil</label>
                        <input class="admi_file"  type="file" id="image" name="avatar" accept="image/*">
                        <% if (locals.errors && errors.avatar) { %>
                            <div class="text-danger">
                                <%= errors.avatar.msg%>
                    </div>
                        <% } %> 
                    </div>
                    <!--   seccion terminos y condiciones -->
                    <div class="register__form-box">
                        <input   class="form-control <%= locals.errors && errors.terms ? 'is-invalid' : 'is-valid' %> " type="checkbox" name="terms" id="terms" value="">
                        <label for="terms">Términos y condiciones</label>
                        <span class="register__text-error"><%= locals.errors && errors.terms? errors.terms.msg : null  %></span>
                    </div>
                </article>
                <article >
                    <div class="social_media">
                                <a class="col-sm-3 col-xs-6 login-btn login-btn-google" href="/google_oauth_signin" role="button" aria-label="Sign in with Google"></a>
                                <a class="col-sm-3 col-xs-6 login-btn login-btn-facebook" href="/facebook_oauth_signin" role="button" aria-label="Sign in with Facebook"></a>
                                <a class="col-sm-3 col-xs-6 login-btn login-btn-apple" href="/apple_oauth_signin" role="button" aria-label="Sign in with Apple"></a>
                    </div>
                    <div class="button_register">
                            <button type="submit" class="volver volver-register">Registrarme</button>
                        
                                <button class="volver volver-register"><a href="/">Cancelar</a></button>
                            
                    </div>
                </article>

                <div class="register_box_accede">
                    <a href="/users/login" class="register_accede" >¿Ya eres miembro? <b>Accedé</b></a>
                </div>
            </form>
        </section>
    </main>
    <script src="/javascript/register.js"></script>
</body>
</html>