<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head' ,{ title : 'Resultado De Busqueda'}) %> 

<body class="home">
    <%- include('./partials/header') %> 

    <!--  CARRUSEL-->
    
 <%- include('./partials/carousel') %> 
    
    <!--  CUERPO  -->
    <main class="home">

        <!-- GO BACK BUTTON -->
    <div class="container-button-product-detail">
        <a class="a_button" href="/"><i class="fa-solid fa-angle-left"></i> VOLVER </a>
    </div>
    
        <h2>Resultado de La busqueda:<%= keywords %> </h2>
        <!-- SECCION DE BUSQUEDA-->
        
        <section class="home__box_products">
            
            <!--    PRODUCTO-->
            <% if (result.length > 0) { %>
                <% result.forEach(({id,name,autor,image}) => { %>

                    <article class="home__product">
                        <div class="home__producto-box-image">
                            <a href="/products/detail/<%= id %>">
                                <div class="home__product-container-img">
                                    <img class="home__product_image" src="/images/portadas/<%= image %>" alt="libro">
                                </div>
                            </a>   
                        </div>
                        <div class="home_main_container_span">
                            
                            <span class="titulo"><%= name %></span>
                            <span class="autor"><%= autor.name %></span>
                        </div>
                    </article>
                    
                    <% }) %>


            
            <% }else{ %>
                <div class="no-results-back">
                    <img class="no-found-image" src="/images/otrasImagenes/nofoundImage.png" alt="">
                </div>

                <h2 class="no-found">LO SIENTO, NO HAY RESULTADOS PARA SU BUSQUEDA</h2>

                <% } %>


                
        </section>
        
        <!--  scroll up button -->
            <div class="home__main__up">
                <a href="#"><i class="fa-solid fa-circle-chevron-up"></i></a>
            </div>
    </main>
    
    <%- include('./partials/footer') %> 
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="/javascript/carousel.js"></script>
    <script src="/javascript/darkmode.js"></script>
</body>

</html>