<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{ title :'Registro'}) %> 
<body class="register_body">

    <header class="register_header">
        <div class="header__volver-ingles">

            <a href="/" class="volver round"> Volver </a> 

            <button class="volver ingles round"><i class="fa-solid fa-globe"></i> English </button> 

        </div>
        <div class="header__logo">
            <!-- <a href="/"><img src="/images/logo-proyect.png" width="100%" alt=""></a> -->
        </div>
        <br>
        <div class="header__logo2">
            <!-- <a href="/"><img src="/images/logo-proyect2.png" alt=""></a> -->
        </div>
    </header>

    <main>

        <section>
            <h1>Mi Perfil </h1>
            <hr>
        
            <!--  empieza el fomulario -->
            <form method="POST" action="/users/update-profile?_method=PUT" enctype="multipart/form-data" >
                <article class="registro">
                    <!-- seccion nombre -->
                    <div class="register__form-box">
                        <label class="admi_label_edit" for="name">Nombre: </label>
                        <input class="admi_form-input form-control" type="text" id="name" name="name" value="<%= user.name %>" >
                        <span class="register__text-error" id="nombreError"><%= locals.errors && errors.name ? errors.name.msg : null  %></span>
                    </div>
            <!--  seccion apellido -->
                    <div class="register__form-box">
                        <label class="admi_label_edit" for="surname">Apellido: </label>
                        <input class="admi_form-input form-control" type="text" id="surname" name="surname" value="<%= user.surname%>">
                        <span class="register__text-error" id="apellidoError"><%= locals.errors && errors.surname ? errors.surname.msg : null  %></span>
                    </div>
            <!--  seccion email -->
                    <div class="register__form-box">
                        <label class="admi_label_edit" for="email">Email: </label>
                        <input class="admi_form-input" type="email" id="email" name="email" value="<%= user.email %>" disabled>
                        <span class="register__text-error"><%= locals.errors && errors.email ? errors.email.msg : null  %></span>
                    </div>
            <!-- seccion telefono-->
                    <div class="register__form-box">
                        <label class="admi_label_edit" for="tel">Telefono</label>
                        <input class="admi_form-input"  type="tel" id="tel" name="tel" >
                    </div>
                
            <!--  seccion fecha de nacimiento -->
                    <div class="register__form-box">
                        <label class="admi_label_edit" for="date"> Fecha de nacimiento</label>
                        <input class="admi_form-input" type="date" name="date" id="date"  value="<%= date %>">
                    </div>
                    
            <!-- seccion imagen de perfil -->
                    <div class="register__form-box">
                        <label class="admi_label_edit" for="avatar">Adjuntar Avatar: </label>
                        <input class="admi_file"  type="file" id="image" name="avatar" accept="image/*">
                        <span class="register__text-error" id="errorAvatar"><%= locals.errors && errors.avatar ? errors.avatar.msg : null  %></span>

                    </div>
                    <div>
                        <img  src="/images/users/<%= user.avatar %>" alt="" id="imgPreview">
                    </div>
                
                </article>
                <article >
                    <div class="button_register">
                            <button type="submit" class="volver volver-register">Guardar</button>
                            <button class="volver volver-register"><a href="/">Cancelar</a></button>
                            
                    </div>
                </article>
            </form>
            <form action="/users/deleteUser/<%= user.id %>?_method=DELETE" method="POST">
                <button  type="submit" class="admi_adherir admi_delete"><i class="fa-solid fa-trash-can trash-delete"></i></button>
               </div> 
         </form> 
        </section>

    </main>
    <script src="/javascript/profile.js"></script> 
</body>
</html>